* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui, "Segoe UI", sans-serif;
  background-color: #ffffff;
  color: #3c4043;
}

.educlass-container {
  width: 100vw;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.icon {
  cursor: pointer;
}
